---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}
    <ul class="tag-box inline" style="float:right;font-size:0.875em">
    {% capture tags %}
      {% for tag in page.tags %}
        {{ tag }}
      {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split:' ' | sort %}

    {% for tag in sortedtags %}
      <li><a href="/tags#{{ tag | cgi_escape }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>
  </span>
  {{ content }}
  <br>
  <a href="{{ site.baseurl }}/">Назад до блогу</a>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v5.0"></script>
</div>
  
